@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");
.room {
  height: 100%;
  width: 100%;

  background-color: powderblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .room-heading {
    margin-bottom: 100px;
    font-size: 62px;
    font-family: "Roboto Slab", serif;
    padding-top: 50px;
  }

  .room-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;

    .current-user-list {
      flex: 2;
    }
    .room-message-board {
      flex: 10;

      .room-messages {
        height: 800px;
        border: solid darkblue 2px;
        .room-message-body {
          overflow-y: scroll;

          .messageContainer {
            .card {
              width: 300px;
              margin-top: 20px;
              box-shadow: 2px 3px 9px 1px rgba(0, 0, 0, 0.1%),
                4px 2px 13px 2px rgba(0, 0, 0, 0.34);

              .card-content {
                img {
                  max-width: 270px;
                  object-fit: contain;
                  padding: 10px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .room {
    height: 100%;
    width: 100%;
    background-color: powderblue;

    .room-heading {
      font-size: 24px;
      padding: 20px 0;
      margin: 0;
    }

    .room-wrapper {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      .current-user-list {
        display: none;
      }
      .room-message-board {
        flex: 1;

        .room-messages {
          height: 600px;
        }
      }
    }
  }
}

@media screen and (max-height: 400px) {
  .room {
    height: 100%;
    width: 100%;
    background-color: powderblue;

    .room-heading {
      font-size: 24px;
      padding: 20px 0;
    }

    .room-wrapper {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: center;
      .current-user-list {
        display: none;
      }
      .room-message-board {
        flex: 1;

        .room-messages {
          height: 200px;
        }
      }
    }
  }
}
